:root {
  --color-background: rgb(34, 35, 51);
  --color-background-secondary: rgb(17, 18, 34);
  --color-background-tertialy: rgb(51, 52, 68);
  --color-text: rgb(251, 253, 255);
  --color-navbar-background: rgba(11, 13, 20, 0.72);
  --color-border: rgb(108, 117, 125);

  --font-default:
  'Ubuntu Sans',
  'Open Sans',
    Ubuntu,
    'M PLUS 1p',
    'M PLUS 2',
    -apple-system,
    'Segoe UI',
    'Fira Sans',
    'Helvetica Neue',
    sans-serif;
  --font-monospace: 'Ubuntu Sans Mono', 'M PLUS 1 Code', Consolas, 'Fira Mono', Inconsolata, monospace;
}

/* Easing variables */
:root {
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes backgroundAnimation {
  0% {
    background: var(--color-background-secondary);
  }
  50% {
    background: var(--color-background);
  }
  100% {
    background: var(--color-background-secondary);
  }
}

body {
  text-align: center;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s,
    background-color 0.5s;
  font-family: var(--font-default);
  font-size: 17px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: no-preference) {
  body {
    animation: backgroundAnimation 15s linear infinite 
  }
}

@layer base {
  h1 {
    @apply text-5xl font-bold my-3.5;
  }
  h2 {
    @apply text-4xl font-bold my-3;
  }
  h3 {
    @apply text-3xl font-bold my-2.5;
  }

  input {
    background: white;
    color: black;
    border: 1px solid #6c757d;
    border-radius: .375rem;
    padding: .375rem .75rem;
    outline: 0;
  }

  button {
    background: #1a1b2b;
    border: 1px solid #6c757d;
    padding: .375rem .75rem;
    border-radius: .375rem;
    user-select: none;

    &:hover {
      background: #555666;
    }
    &:active {
      background: #30343b;
    }
  }
}